<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2750e713-74c1-42d0-8b66-0e4cab134445/resourcegroups/AppCentralDeUsuarios/providers/Microsoft.Web/sites/CentralDeUsuariosServicesApi20230129095446</ResourceId>
    <ResourceGroup>AppCentralDeUsuarios</ResourceGroup>
    <ApiResourceId>/subscriptions/2750e713-74c1-42d0-8b66-0e4cab134445/resourceGroups/AppCentralDeUsuarios/providers/Microsoft.ApiManagement/service/CentralDeUsuariosServices/apis/CentralDeUsuariosServices</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://centraldeusuariosservicesapi20230129095446.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c121c601-1ce3-4d42-b892-de021ace27b4</ProjectGuid>
    <MSDeployServiceURL>centraldeusuariosservicesapi20230129095446.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CentralDeUsuariosServicesApi20230129095446</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CentralDeUsuariosServicesApi20230129095446</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>